.carousel-control-next-icon {
    background-image: url("../../assets/imagens/setadir.png") !important;
    width: 73px !important;
    height: 73px !important;
}

.carousel-control-prev-icon {
    background-image: url("../../assets/imagens/setaesq.png") !important;
    width: 73px !important;
    height: 73px !important;
}
